<a href="https://colab.research.google.com/github/kritisinghh/Python-Basics/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello World

In [1]:
print ("Hello World")

Hello World

Add numbers and Concatinate strings

In [2]:
a = 10				
b = 220
c = a + b       # Add two numbers
print (a, " + ", b, " --> ", c)

10  +  220  -->  230

Concatinate two strings

In [3]:
a = "Bhagat"
b = " Singh"
c = a + b		# Concatinate two strings
print (a, " + ", b, " --> ", c)

Bhagat  +   Singh  -->  Bhagat Singh

 Concatinate string with number

In [4]:
a = "Bhagat"
b = 100
c = a + str(b)		# Concatinate string with number
print (a, " + ", b, " --> ", c)

Bhagat  +  100  -->  Bhagat100

Input from user

Input two strings from user and concatinate them

In [ ]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		# concatinate two strings
print  (a, " + ", b, "      --> ", c)

Input two numbers from user and add them

In [ ]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = a + b
print (a, " + ", b, " --> ", c)

Loop

While Loop

In [ ]:
i=1
while i <= 10:
	print (i)
	i = i+1

Range Function

In [ ]:
print ("range(10)        --> ", list(range(10)))
print ("range(10,20)     --> ", list(range(10,20)))
print ("range(0,20,2)    --> ", list(range(2,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2)--> ", list(range(-10,-20,-2)))

For loop

For loop - Version 1

In [ ]:
for i in range(0,10):
	print (i)

For loop - Version 2

In [ ]:
for i in range(0,20,2):
	print (i)

For loop - Version 3

In [ ]:
for i in range(0,-10,-1):
	print (i)

Print table of 5

In [ ]:
for i in range(1,11):
	print (5," * ", i , " = ", i * 5)

Sum all numbers from 1 to 10

Version 1

In [ ]:
s=0
for i in range(1,11):
	s=s+i
print ("Sum is --> ",s)

Version 2

In [ ]:
print ("Sum is --> ", sum(range(1,11)))

If-Else - Conditional Checking

Input two numbers from user and compare them

In [ ]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b: 
	print (a," > ",b)
else:
	print (a," < ",b)

Check weather a number is odd or even

In [ ]:
n = int(input("Enter a No: "))
if  n % 2 == 0: 
	print (n," is even")
else:
	print (n," is odd")

Check weather a number is prime of not

In [ ]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0: 
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Conditional Checking - Compare strings

In [ ]:
a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b: 
	print ("a == b")
elif a >= b: 
	print ("a > b")
else:
	print ("a < b")

Functions

Add two numbers

In [ ]:
def Add(a,b):
	c=a+b
	return c

print ("Add(10,20) -->", Add(10,20))
print ("Add(20,50) -->", Add(20,50)) 
print ("Add(80,200) -->", Add(80,200))

Prime number

In [ ]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime(20)  --> ", IsPrime(20))
print ("IsPrime(23)  --> ", IsPrime(23))
print ("IsPrime(200) --> ", IsPrime(200))
print ("IsPrime(37)  --> ", IsPrime(37))

Add 1 to n

In [ ]:
def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10)  --> ", AddN(10))
print ("AddN(20)  --> ", AddN(20))
print ("AddN(50)  --> ", AddN(50))
print ("AddN(200) --> ", AddN(200))

Math library

In [ ]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

Strings

Indexing in string

In [ ]:
var = 'Hello World!'
print ("var      --> ", var)
print ("var[0]   --> ", var[0])
print ("var[1:5] --> ", var[1:5])
print ("var[:-5] --> ", var[:-5])

String length, upper, lower

In [ ]:
var = 'Hello World!'
print ("String --> ", var)
print ("Length --> : ", len(var))
print ("Upper  --> : ", var.upper())
print ("Lower  --> : ", var.lower())

String formatting

In [ ]:
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

String in Triple Quotes

In [ ]:
para_str = """This is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

 String strip

In [ ]:
var =" Indian   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var strip --> ", var.strip())
print("Length of var after strip --> ", len(var.strip()))

String split

In [ ]:
var =" Indian,   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var split --> ", var.split())
print("var split --> ", var.split(' '))
print("var split --> ", var.split(','))

# Strip + Split
print("var split --> ", var.strip().split(','))

Count in string

In [ ]:
var=" Indian Army    "
print ("String       --> ", var)
print ("Count of ' ' --> ", var.count(' '))
print ("Count of 'a' --> ", var.count('a'))
print ("Count of 'n' --> ", var.count('an'))

Reverse a String

In [ ]:
var="Indian Army"
print ("String    --> ", var)
print ("var[::1]  --> ", var[::1])
print ("var[::2]  --> ", var[::2])
print ("var[::-1] --> ", var[::-1])
print ("var[::-2] --> ", var[::-2])

var=var[::-1]
print ("var after reverse --> ", var)

Palindrome

In [ ]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print ("s1 --> ", s1==s1[::-1])
print ("s2 --> ", s2==s2[::-1])
print ("s3 --> ", s3==s3[::-1])
print ("s4 --> ", s4==s4[::-1])

Random Numbers/String

Generate random number between 0 and 1

In [ ]:
import random as r
print (r.random())
print (r.random())
print (round(r.random(),4))

Generate random integer number

In [ ]:
import random as r
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(-10, 10))
print (r.randint(-10, 10))

Generate random real number

In [ ]:
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (round(r.uniform (-10, 10),2))

Select sample from a list of elements

In [ ]:
import random as r

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (r.sample(A, 4))
print (r.sample(A, 2))
print (r.sample(range(0,100), 2))
print (r.sample(range(-100,100), 5))

Generate random string

In [ ]:
import string as s
import random as r
print ("String        --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 6)
print ("Selected Char --> ",passwd)

passwd1="".join(passwd)
print ("passwd1       --> ",passwd1)

passwd2="+".join(passwd)
print ("passwd2       --> ",passwd2)

passwd3="*".join(passwd)
print ("passwd3       --> ",passwd3)

Generate random digits

In [ ]:
import string as s
import random as r
print ("Digits --> ",s.digits)

otp=r.sample(s.digits, 5)
print ("Selected num1 --> ",otp)
otp="".join(otp)
print ("otp1          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp2          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp3          --> ",otp)

Generate random string + digits

In [ ]:
import string as s
import random as r
print ("String + Digits --> ",s.ascii_letters + s.digits)

mixPasswd=r.sample(s.ascii_letters + s.digits, 5)
print ("\nSelected Str1 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd1    --> ",mixPasswd)

mixPasswd=r.sample(s.ascii_letters + s.digits, 6)
print ("\nSelected Str2 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd2    --> ",mixPasswd)

splChar="#@!~%^&*()_+=-[]{}|"
mixPasswd=r.sample(splChar + s.ascii_letters + s.digits, 8)
print ("\nSelected Str3 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd3    --> ",mixPasswd)

Exception Handaling

Error Generation

In [ ]:
for i in range(-5,6):
	print ("100/",i," --> ", 100/i)

Exception handaling for division by zero

In [ ]:
for i in range(-5,6):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

Exception handaling for array out of index

In [ ]:
L=[1,2,3,4,5]

for i in range(8):
	try:
		print (i," --> ",L[i])
	except:
		print ("error")

Exception handaling for file not found

In [ ]:
fileName=input("Enter File Name: ")
fp=open(fileName)	# Open the file in reading mode
fp.close()
print ("Done")

Exception handaling for file not found

In [ ]:
fileName=input("Enter File Name: ")
try:
	fp=open(fileName)	# Open the file in reading mode
	fp.close()
except:
	print ("Error !! \"%s\" File Not Found"%(fileName))

print ("Done")

Data Structure 1 - List

List Declaration

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
print ("Number of elements in list: ", len(L))

List Iteration

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
i=0
while i < len(L): 
	print (L[i])
	i+=1

List Iteration using for loop

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
for i in range(0, len(L)):
	print (L[i])

List Iteration using for loop

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List --> ", L)
for s in L:
	print (s)

Adding and deleting from list

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List       --> ", L)

L.append("Rahul")
print ("List After Adding   --> ", L)

del L[1]
print ("List After Deleting --> ", L)

Sum/Average of List

In [ ]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("Sum     --> ", sum(L))
print ("Average --> ", sum(L)/len(L))
print ("Average --> ", sum(L)//len(L))

print ("L * 3   --> ", L * 3)     # Every element get tripled
print ("L + L   --> ", L + L)     # Every element get doubled

Min/Max/Sort the list

In [ ]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("max --> ", max(L))
print ("min --> ", min(L))

print ("\nBefore Sort            --> ", L)
L.sort()

print ("After Sort (Asending)  --> ", L)

L.sort(reverse=True)
print ("After Sort (Desending) --> ", L)

Merge lists and select elements

In [ ]:
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]
L3 = L1 + L2
print ("L1 --> ",L1)
print ("L2 --> ",L2)
print ("L3 --> ",L3)

print ("\nL3[2:]  --> ",L3[2:])
print ("L3[2:5] --> ",L3[2:5])
print ("L3[:-1] --> ",L3[:-1])
print ("L3[::2] --> ",L3[::2])

Multiply all elements of the list by a constant

In [ ]:
L = [12, 5, 3, 2, 7]
print ("Original List --> ", L)

newL = [ i * 5 for i in L ]
print ("After Multiply with constant --> ", newL)

Searching in the list

In [ ]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", 6 in L)
print ("Original List --> ", 10 in L)
print ("Original List --> ", 12 in L)

if (6 in L) == True:
	print ("Present")
else:
	print ("Not Present")

if 10 in L == False:
	print ("Not Present")
else:
	print ("Present")

Data Structure 2 - Dictionary

 Declare Dictionary

In [ ]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary      --> ", CGPA)
print ("Num of elements --> ", len(CGPA))

print ("CGPA of 1       --> ", CGPA[1])
print ("CGPA of 4       --> ", CGPA[4])
print ("CGPA of 7       --> ", CGPA[7])
print ("CGPA of 3       --> ", CGPA[3])

Triverse dictionary

In [ ]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
for k in CGPA:
	print ("CGPA of ", k, " --> ", CGPA[k])

Getting Keys and Values

In [ ]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary --> ", CGPA)
print ("Keys       --> ", list(CGPA.keys()))
print ("Values     --> ", list(CGPA.values()))

Updating, Adding and Deleting from Dictionary

In [ ]:
CGPA={1:8.9,2:5.6,4:6.7,7:9.1,8:5.3}
print ("Original Dictionary --> ", CGPA)

CGPA[4] = 9.2
print ("After Updating (4)  --> ", CGPA)

CGPA[3] = 8.6
print ("After Adding (3)    --> ", CGPA)

del CGPA[1]
print ("After Deleting (1)  --> ", CGPA)

CGPA.clear()
print ("After Clear         --> ", CGPA)

del CGPA
print ("After Delete        --> ", CGPA)

Checking for Key in Dictionary

In [ ]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Original Dictionary --> ", CGPA)
print ("Is Key 2 Present    --> ", 2 in CGPA)
print ("Is Key 9 Present    --> ", 9 in CGPA)

More example1

In [ ]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)
print ("Home Town of Prashant is --> ", HomeTown["Prashant"])
print ("Home Town of Govind is   --> ", HomeTown["Govind"])
print ("Home Town of Anil is     --> ", HomeTown["Anil"])
print ("Home Town of Pankaj is   --> ", HomeTown["Pankaj"])

More example2

In [ ]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)

for d in HomeTown:
	print ("Home Town of ", d, " is  --> ", HomeTown[d])

Data Structure 3 - Tuple

Declare Tuple

In [ ]:
# Method 1
T = ("Pratham", 'Sharma', 3.14, 3)

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

In [ ]:
# Method 2
T = tuple(["Pratham", 'Sharma', 3.14, 3])   # Convert list to tuple
#T = tuple(("Pratham", 'Sharma', 3.14, 3))  # Also Works

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

Tuple Iteration

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

i = 0
while i < len(T): 
    print (T[i])
    i += 1

 Tuple iteration using for loop

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

for i in range(0, len(T)):
    print (T[i])

Tuple iteration using for loop

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

for s in T:
    print (s)

Accessing/Selecting in Tuple

In [ ]:
# Example 1:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T     -->", T)

print ("T[1]  -->", T[1])
print ("T[2]  -->", T[2])
print ("T[-1] -->", T[-1])
print ("T[-2] -->", T[-2])

In [ ]:
# Example 2:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T        -->", T)

print ("T[1:3]   -->", T[1:3])
print ("T[2:]    -->", T[2:])
print ("T[2:5]   -->", T[2:5])
print ("T[:2]    -->", T[:2])
print ("T[:-1]   -->", T[:-1])
print ("T[-4:-1] -->", T[-4:-1])

Sum/Average of Tuple

In [ ]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)
print ("Sum     -->", sum(T))
print ("Average -->", sum(T)/len(T))
print ("Average -->", sum(T)//len(T))

Min/Max in Tuple

In [ ]:
# Example 1
T = (3, 6, 9, 12, 5, 3, 2)                # Integer Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

In [ ]:
# Example 2
T = ("Ram", "Shyam", "Human", "Ant")      # String Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

Merging Tuples

In [ ]:
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1 + T2
print ("T3 -->", T3)

T4 = T1 + T2 + T1 + T2
print ("T4 -->", T4)

Merging part of Tuples

In [ ]:
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1[1:2] + T2[1:3]
print ("T3 -->", T3)

T4 = T1[:-2] + T2[:-3]
print ("T4 -->", T4)

Searching in the tuple

In [ ]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)

print ("6  in T -->", 6 in T)
print ("10 in T -->", 10 in T)
print ("12 in T -->", 12 in T)

Adding element to Tuple (Error)

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

T[2] = 900               # Error; 'tuple' object does not support item assignment
print ("T -->", T)

#Tuples are unchangeable. We cannot add items to it.

Adding element to Tuple - (Jugaad)

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T         -->", T)

T1 = list(T)
T1.append(9.8)
T = tuple(T1)

print ("After Add -->", T)

Inserting element in Tuple - (Jugaad)

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
T1.insert(2, "Rahul")
T = tuple(T1)

print ("After Insert -->", T)

Deleting from Tuple (Error)

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

del T[1]

print ("After Delete -->", T)

Deleting from Tuple - (Jugaad)

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
del T1[1]
T = tuple(T1)

print ("After Delete -->", T)

Data Structure 4 - Set

Declare Set

In [ ]:
s = set(['A', 'B', 'E', 'F','E', 'F' ])
print ("Original set           --> ", s)
print ("Num of elements in set --> ", len(s))

Opertions on Sets

In [ ]:
a = set(['A', 'B', 'E', 'F' ])
b = set(["A", "C", "D", "E"])
print ("Original set a      --> ", a)
print ("Original set b      --> ", b)
print ("Union of a and b    --> ", a.union(b))
print ("Intersection of a,b --> ", a.intersection(b))
print ("Difference a - b    --> ", a - b)
print ("Difference a - b    --> ", a.difference(b))
print ("Difference b - a    --> ", b - a)
print ("Difference b - a    --> ", b.difference(a))
print ("Symetric Diff a - b --> ", a.symmetric_difference(b))
print ("Symetric Diff b - a --> ", b.symmetric_difference(a))

Add, delete, pop element from set

In [ ]:
a = set(['A', 'B', 'E', 'F' ])
print ("Original set a       --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.remove("D")
print ("Set After Deleting(D)--> ", a)
a.pop()
print ("Set After pop        --> ", a)
a.pop()
print ("Set After pop        --> ", a)

Command Line Argument

Add two numbers given at cmd line

In [ ]:
import sys
print (sys.argv)
a = int(sys.argv[1]) 	# First Number
b = int(sys.argv[2])	# Second Number
c = a + b
print (a, " + ", b, " --> ", c)

Concatinate two strings given at cmd line

In [ ]:
import sys
print (sys.argv)
s = sys.argv[1] + " " + sys.argv[2]
print (sys.argv[1], " + ", sys.argv[2], " --> ", s)

Add all the numbers given at cmd line

In [ ]:
import sys
print (sys.argv)
sum=0
for s in sys.argv[1:]:
	sum += int(s)

print ("Sum is --> ", sum)

File Handling

Writing 1 to 10 in file

In [ ]:
fp=open('result.txt','w')	# Open the file in writing mode
for  i in range(1,11):
	fp.write(str(i) + "\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Read a file and print its content

In [ ]:
fp=open('result.txt')		# Open the file in reading mode
for line in fp: 		    # print line by line
	print (line.strip())
fp.close()

Read from one file, Convert it to upper case and write to other file

In [ ]:
Readfp=open('result.txt')		# Open the file in reading mode
Writefp=open('abc.txt','w')	# Open the file in writing mode
for line in Readfp: 
	Writefp.write(line.upper())
	
Writefp.close()
Readfp.close()

print ("Writing done !! \nOpen result.txt to view the content")